<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <main>
        <div>
            <h1>
                {{todo_detail.name}}
            </h1>
            <p>
                <a href="{% url 'todo_list_update' todo_detail.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' todo_detail.id %}">Delete</a>
            </p>
            <h2>
                Tasks
            </h2>
            <table>
                <thead>
                    <th>Task</th>
                    <th>Due Dates</th>
                </thead>
                <tbody>
                    {% for i in todo_detail.items.all %}
                    <tr>
                        <td>{{i.task}}</td>
                        <td>{{i.due_date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
