<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My list</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
                <a href="{% url 'todo_list_create' %}">Create a new list</a>
            </p>
            <table>
                <thead>
                <th>Name</th>
                <th>Number of items</th>
                </thead>
                <tbody>
                    {% for i in todos_list %}
                    <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.items.all|length}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

</body>
</html>
